<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.goingout.spikes"
        version   = "1.0.0">
    <name>Spikes</name>
    <description>This is a spike for testing phonegap geo location. More to come later.</description>
    <author href="http://au.linkedin.com/in/jtblin" email="jtblin@gmail.com">Jerome Touffe-Blin</author>
    <icon src="icon.png" gap:role="default" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <preference name="phonegap-version" value="2.3.0" />
    <preference name="target-device" value="universal" />
    <!-- Splash Screens -->
    <gap:splash src="splash.png" />
    <gap:splash src="images/splash-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="images/splash-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="images/splash-hdpi.png" gap:platform="android" gap:density="hdpi" />
</widget>